html {
	height: 100%;
}

body {
	display: grid;
	margin: 0;
	min-height: 100%;
}

#main {
	margin: auto;
}

#stats {
	grid-row-start: 1;
	grid-row-end: 2;
}

.stat {
	margin: 0 10px;
}

#game-status {
	grid-row-start: 3;
	grid-row-end: 4;
	
	height: 1em;
	margin: 0 10px;
}

#board {
	grid-row-start: 2;
	grid-row-end: 3;
	
	width: 500px;
	height: 500px;
	padding: 1em;
	margin: 1em 0;

	border-radius: 40px;
	box-shadow: 10px 10px 8px #888888;
	background-color: #FFFF00;
}

.row {
	height: 20px;
	margin: 45px 38px;

}

.hole {
	padding: 0 10px;
	height: 20px;
	margin: 20px;
	border-radius: 100%;
	background-color: #00FF00;
	box-shadow: 3px 3px 8px #3c3c3c;
}

.inactive {
	visibility: hidden;
}

.empty {
	background-color: #000000;
	box-shadow: none;
}

.selected {
	background-color: #0000FF;
}

.illegal {
	background-color: #FF0000;
}