html, body {
	display: grid;
	height: 100%;
}

#board {
	width: 500px;
	height: 500px;
	margin: auto;
	border: 1px solid #000000;
	border-radius: 40px;
	box-shadow: 10px 10px 8px #888888;
	background-color: #FFFF00;
}

.row {
	height: 20px;
	margin: 45px 32px;

}

.hole {
	padding: 0 10px;
	height: 20px;
	margin: 20px;
	border: 1px solid #000000;
	border-radius: 100%;
	background-color: #00FF00;
}

.inactive {
	visibility: hidden;
}